<% basic_path           = "#{locals[:settings]['deploy_path']}/#{locals[:lang]}" %>
<% offcial_sdk_path     = "#{basic_path}/plugins_sdks/sdks/official" %>
<% offcial_plugin_path  = "#{basic_path}/plugins_sdks/plugins/official" %>

<h2> SDKs </h2>
<p>Everything is easier with a great SDK</p>

<div class="iconsgrid">
  <a href="<%="#{offcial_sdk_path}/js/"%>" title="Javascript SDK"><%=icon_tag("Javascript")%></a>
  <a href="<%="#{offcial_sdk_path}/php/"%>" title="PHP SDK"><%=icon_tag("Php")%></a>
  <a href="<%="#{offcial_sdk_path}/java/"%>" title="Java SDK"><%=icon_tag("Java")%></a>
  <a href="<%="#{offcial_sdk_path}/dotnet/"%>" title=".Net SDK"><%=icon_tag("DotNet")%></a>
  <a href="<%="#{offcial_sdk_path}/nodejs/"%>" title="NodeJS SDK"><%=icon_tag("NodeJS")%></a>
  <a href="<%="#{offcial_sdk_path}/ruby/"%>" title="Ruby SDK"><%=icon_tag("Ruby")%></a>
  <a href="<%="#{offcial_sdk_path}/python/"%>" title="Python SDK"><%=icon_tag("Python")%></a>
</div>

<h2> Modules / Extensions / Plugins </h2>
<p> User Mercado Pago in the most used e-commerce platforms. </p>

<ul class="modules-brands u-clearfix">
  <li class="modules-brands__item magento">
    <a href="<%="#{offcial_plugin_path}/magento/"%>" title="Magento"><span class="u-accessibility-hidden">Magento</span></a>
  </li>
  <li class="modules-brands__item presta">
    <a href="<%="#{offcial_plugin_path}/prestashop/"%>" title="Prestashop"><span class="u-accessibility-hidden">Prestashop</span></a>
  </li>
  <li class="modules-brands__item woo">
    <a href="<%="#{offcial_plugin_path}/woo-commerce/"%>" title="Woo Commerce"><span class="u-accessibility-hidden">Woo Commerce</span></a>
  </li>
  <li class="modules-brands__item shopify">
    <a href="<%="#{offcial_plugin_path}/shopify/"%>" title="Shopify"><span class="u-accessibility-hidden">Shopify</span></a>
  </li>
</ul>
