
<h2> SDKs </h2>

<p>Todo es más fácil con un buen SDK</p>

<div class="grid grid--50">
  <div class="card card-highlight grid__item">

    <span class="card-highlight-icon">
      <svg id="tc-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>SDK's'</title>
        <g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M18.32 57.471h90.404V46.576H18.32zM36.13 82.777a5.032 5.032 0 1 1-10.064 0 5.032 5.032 0 0 1 10.064 0"/>
          <path d="M43.18 82.777a5.032 5.032 0 1 1-10.065 0 5.032 5.032 0 0 1 10.065 0" fill="#9DD8FF"/>
          <path d="M19 42c0-3.86 3.14-7 7-7h74.81c3.86 0 7 3.14 7 7v45.83c0 3.86-3.14 7-7 7H26c-3.86 0-7-3.14-7-7V42zm7 54.83h74.81c4.96 0 9-4.04 9-9V42c0-4.97-4.04-9-9-9H26c-4.96 0-9 4.03-9 9v45.83c0 4.96 4.04 9 9 9z" fill="#09E"/>
        </g>
      </svg>
    </span>

    <h3>Servidor</h3>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/sdks/server/php/"%>">
        PHP
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/sdks/server/java/"%>">
        Java
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href=""arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/sdks/server/nodejs/"%>"">
        NodeJS
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/sdks/server/ruby/"%>">
        Ruby
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/sdks/server/dotnet/"%>">
        .Net
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/sdks/server/python/"%>">
        Python
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>

  <div class="card card-highlight grid__item">
    <span class="card-highlight-icon">
      <svg width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Client / Mobile</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M12.316 46.475h90.404V35.58H12.316zM32.144 66.749a5.015 5.015 0 0 0-3.525 1.446 5.015 5.015 0 0 0-3.525-1.446 5.032 5.032 0 0 0 0 10.063 5.015 5.015 0 0 0 3.525-1.446 5.015 5.015 0 0 0 3.525 1.446 5.031 5.031 0 1 0 0-10.063"/><path d="M70.016 83.933l.002-.103H20c-3.86 0-7-3.14-7-7V31c0-3.859 3.14-7 7-7h74.805c3.86 0 7 3.141 7 7v32.441c.686.312 1.353.656 2 1.032V31c0-4.963-4.038-9-9-9H20c-4.963 0-9 4.037-9 9v45.83c0 4.963 4.037 9 9 9h50.101a22.89 22.89 0 0 1-.085-1.897" fill="#09E"/><path d="M92.516 62.433c-11.855 0-21.5 9.645-21.5 21.5s9.645 21.5 21.5 21.5 21.5-9.645 21.5-21.5-9.645-21.5-21.5-21.5m0 45c-12.958 0-23.5-10.542-23.5-23.5s10.542-23.5 23.5-23.5 23.5 10.542 23.5 23.5-10.542 23.5-23.5 23.5" fill="#9DD8FF"/><path d="M107.236 84.933h-14.72a1 1 0 0 1-1-1V74.74a1 1 0 1 1 2 0v8.193h13.72a1 1 0 1 1 0 2" fill="#09E"/></g></svg>
    </span>
    <h3>Cliente / Móvil</h3>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/sdks/client/javascript"%>"/>
        Javascript
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/sdks/client/android"%>">
        Android
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/sdks/client/ios"%>">
        iOS
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>

</div>

<h2> Módulos </h2>

<p> Integra Mercado Pago a las plataformas de e-commerce más usadas. </p>


<ul class="modules-brands u-clearfix">
  <li class="modules-brands__item magento">
    <a href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/modules/magento/"%>" title="Magento"><span class="u-accessibility-hidden">Magento</span></a>
  </li>
  <li class="modules-brands__item presta">
    <a href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/modules/prestashop/"%>" title="Presta Shop"><span class="u-accessibility-hidden">Presta Shop</span></a>
  </li>
  <li class="modules-brands__item woo">
    <a href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/modules/woo-commerce/"%>" title="Woo Commerce"><span class="u-accessibility-hidden">Woo Commerce</span></a>
  </li>
  <li class="modules-brands__item wp">
    <a href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/modules/wp-ecommerce/"%>" title="WP eCommerce"><span class="u-accessibility-hidden">WP eCommerce</span></a>
  </li>
  <li class="modules-brands__item shopify">
    <a href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/modules/shopify/"%>" title="Shopify"><span class="u-accessibility-hidden">Shopify</span></a>
  </li>
  <li class="modules-brands__item open-cart">
    <a href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/modules/opencart/"%>" title="Open Cart"><span class="u-accessibility-hidden">Open Cart</span></a>
  </li>
  <li class="modules-brands__item oscommerce">
    <a href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/modules/os-commerce/"%>" title="osCommerce"><span class="u-accessibility-hidden">osCommerce</span></a>
  </li>
  <li class="modules-brands__item zen">
    <a href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/modules/zencart/"%>" title="Zen Cart"><span class="u-accessibility-hidden">Zen Cart</span></a>
  </li>
  <li class="modules-brands__item virtue-mart">
    <a href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/plugins/modules/virtue-mart/"%>" title="VirtueMart"><span class="u-accessibility-hidden">VirtueMart</span></a>
  </li>
</ul>
