<% builder = UIBuilder::TreeTableBuilder.new(locals)  %>

<h1><%= "/#{resource.version}#{endpoint.title}".gsub('//', '/') %></h1>

<blockquote>
  <strong> <%= method.method_name.upcase %> </strong>
  <%= "#{resource.base_uri}#{resource.version}#{endpoint.title}" %>
</blockquote>

<h3> Request Params </h3>

<div class = "tree-table">
  <div class = "tree-table-header">
    <span>Parameter</span><span>Type</span><span>Description</span> 
  </div> 
  <%= builder.build_rows(method.request_parameters) %>
</div>

<h3> Errors </h3>

<div class = "two-table">
  <div class = "two-table-header">
    <span>Code</span><span>Description</span>
  </div>  
  <%= builder.build_two_cols(method.errors) %>
</div>