<svg class="u-visibility-hidden" xmlns="http://www.w3.org/2000/svg">
  <symbol viewBox="0 0 8 9" id="svg-arrow" xmlns="http://www.w3.org/2000/svg">
    <path d="M.5 4.8h5.92M3.27 1L7.4 5.13M3.27 8.45L7 4.72" stroke="#0094E9" stroke-width="1.19" fill="none"></path>
  </symbol>
</svg>

<h1> Starting </h1>

<ul>
  <li>Payment solutions for your bussines.</li>
  <li>Tools ready for use (SDKs, payment buttons, modules and plugins).</li>
  <li>Reliable and flexible API to build the payment experiencie that best suits your business</li>
</ul>

----[mla, mlb, mlm, global]----

<div class="grid grid--33">
  <div class="card card-highlight grid__item">

    <span class="card-highlight-icon">
      <svg id="tc-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Cobro con Tarjetas</title>
        <g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M18.32 57.471h90.404V46.576H18.32zM36.13 82.777a5.032 5.032 0 1 1-10.064 0 5.032 5.032 0 0 1 10.064 0"/>
          <path d="M43.18 82.777a5.032 5.032 0 1 1-10.065 0 5.032 5.032 0 0 1 10.065 0" fill="#9DD8FF"/>
          <path d="M19 42c0-3.86 3.14-7 7-7h74.81c3.86 0 7 3.14 7 7v45.83c0 3.86-3.14 7-7 7H26c-3.86 0-7-3.14-7-7V42zm7 54.83h74.81c4.96 0 9-4.04 9-9V42c0-4.97-4.04-9-9-9H26c-4.96 0-9 4.03-9 9v45.83c0 4.96 4.04 9 9 9z" fill="#09E"/>
        </g>
      </svg>
    </span>

    <h3>Payments</h3>

    <p>Receive credit card payments in minutes.</p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/button/create-button"%>">
        Button
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-checkout/introduction"%>">
        Web Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/mobile-checkout/introduction"%>">
        Mobile Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/api/introduction"%>">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>

  <!--
  <div class="card card-highlight grid__item">
    <span class="card-highlight-icon">
      <svg width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Subscriptions</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M12.316 46.475h90.404V35.58H12.316zM32.144 66.749a5.015 5.015 0 0 0-3.525 1.446 5.015 5.015 0 0 0-3.525-1.446 5.032 5.032 0 0 0 0 10.063 5.015 5.015 0 0 0 3.525-1.446 5.015 5.015 0 0 0 3.525 1.446 5.031 5.031 0 1 0 0-10.063"/><path d="M70.016 83.933l.002-.103H20c-3.86 0-7-3.14-7-7V31c0-3.859 3.14-7 7-7h74.805c3.86 0 7 3.141 7 7v32.441c.686.312 1.353.656 2 1.032V31c0-4.963-4.038-9-9-9H20c-4.963 0-9 4.037-9 9v45.83c0 4.963 4.037 9 9 9h50.101a22.89 22.89 0 0 1-.085-1.897" fill="#09E"/><path d="M92.516 62.433c-11.855 0-21.5 9.645-21.5 21.5s9.645 21.5 21.5 21.5 21.5-9.645 21.5-21.5-9.645-21.5-21.5-21.5m0 45c-12.958 0-23.5-10.542-23.5-23.5s10.542-23.5 23.5-23.5 23.5 10.542 23.5 23.5-10.542 23.5-23.5 23.5" fill="#9DD8FF"/><path d="M107.236 84.933h-14.72a1 1 0 0 1-1-1V74.74a1 1 0 1 1 2 0v8.193h13.72a1 1 0 1 1 0 2" fill="#09E"/></g></svg>
    </span>
    <h3>Subscriptions</h3>

    <p>Create subscription plans and receive payments as often as you choose.</p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/button/create-subscription"%>">
        Button
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/web-checkout/introduction"%>">
        Web Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/api/introduction"%>">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>
  -->


  <div class="card card-highlight grid__item">
    <span class="card-highlight-icon">
      <svg id="card-marketplace-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Tienda online</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M65.05 74.42H35.16l-1.88 23.656h29.486z"/><path d="M63.008 103.97l3.156-32.69a.996.996 0 0 1 .995-.905h6.134v4.386a1 1 0 1 0 2 0v-4.386h14.46v4.386a1 1 0 1 0 2 0v-4.386h6.132c.518 0 .946.389.996.905l3.155 32.69H63.008zM29.604 42.643c.041-.517.48-.922.997-.922h8.615v8.623a1 1 0 1 0 2 0V41.72h28.706v8.623a1 1 0 1 0 2 0V41.72h8.616c.518 0 .956.404.996.922l1.282 16.22c-.099-.003-.195-.015-.294-.015-5.089 0-9.229 4.14-9.229 9.229v.298H67.16a2.989 2.989 0 0 0-2.986 2.713L61 103.97H24.76l4.845-61.327zm11.612-7.29C41.216 27.439 47.656 21 55.57 21c7.914 0 14.353 6.439 14.353 14.353v4.368H41.216v-4.368zm42.352 33.022h-8.275v-.298c0-3.986 3.243-7.23 7.23-7.23.152 0 .301.015.452.024l.593 7.504zm6.184-.298v.298h-4.178l-.559-7.075c2.76 1.019 4.737 3.668 4.737 6.777zm26.062 35.893h-11.768l-3.175-32.883a2.989 2.989 0 0 0-2.986-2.712h-6.133v-.298c0-4.285-2.94-7.887-6.906-8.921l-1.317-16.67a3.016 3.016 0 0 0-2.99-2.765h-8.617v-4.368C71.922 26.336 64.586 19 55.57 19c-9.017 0-16.353 7.336-16.353 16.353v4.368h-8.615a3.016 3.016 0 0 0-2.99 2.764l-4.859 61.485H11a1 1 0 1 0 0 2h104.814a1 1 0 1 0 0-2z" fill="#09E"/><path fill="#9DD8FF" d="M91.418 97.913h-17.79v-9.452h17.79z"/></g></svg>
    </span>

    <h3>MarketPlace  </h3>
    <p>Use oAuth and you will provide any payment solution.</p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/web-checkout/introduction"%>">
        Web Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/api/introduction"%>">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>

  <div class="card card-highlight grid__item">
    <%= highlight_icon_tag("point") %>
    <h3>inStore Payments   </h3>
    <p>Use Mercado Pago in Physical Stores </p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/instore-payments/mp-point/create-point"%>">
        Mercado Pago Point
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/instore-payments/qr-payments/introduction"%>">
        Payments from QR Codes
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>

</div>

------------

----[mco, mlv]----

<div class="grid grid--33">
  <div class="card card-highlight grid__item">

    <span class="card-highlight-icon">
      <svg id="tc-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Cobro con Tarjetas</title>
        <g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M18.32 57.471h90.404V46.576H18.32zM36.13 82.777a5.032 5.032 0 1 1-10.064 0 5.032 5.032 0 0 1 10.064 0"/>
          <path d="M43.18 82.777a5.032 5.032 0 1 1-10.065 0 5.032 5.032 0 0 1 10.065 0" fill="#9DD8FF"/>
          <path d="M19 42c0-3.86 3.14-7 7-7h74.81c3.86 0 7 3.14 7 7v45.83c0 3.86-3.14 7-7 7H26c-3.86 0-7-3.14-7-7V42zm7 54.83h74.81c4.96 0 9-4.04 9-9V42c0-4.97-4.04-9-9-9H26c-4.96 0-9 4.03-9 9v45.83c0 4.96 4.04 9 9 9z" fill="#09E"/>
        </g>
      </svg>
    </span>

    <h3>Payments</h3>

    <p>Receive credit card payments in minutes.</p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/button/create-button"%>">
        Button
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-checkout/introduction"%>">
        Web Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/mobile-checkout/introduction"%>">
        Mobile Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/api/introduction"%>">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>



  <div class="card card-highlight grid__item">
    <span class="card-highlight-icon">
      <svg id="card-marketplace-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Tienda online</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M65.05 74.42H35.16l-1.88 23.656h29.486z"/><path d="M63.008 103.97l3.156-32.69a.996.996 0 0 1 .995-.905h6.134v4.386a1 1 0 1 0 2 0v-4.386h14.46v4.386a1 1 0 1 0 2 0v-4.386h6.132c.518 0 .946.389.996.905l3.155 32.69H63.008zM29.604 42.643c.041-.517.48-.922.997-.922h8.615v8.623a1 1 0 1 0 2 0V41.72h28.706v8.623a1 1 0 1 0 2 0V41.72h8.616c.518 0 .956.404.996.922l1.282 16.22c-.099-.003-.195-.015-.294-.015-5.089 0-9.229 4.14-9.229 9.229v.298H67.16a2.989 2.989 0 0 0-2.986 2.713L61 103.97H24.76l4.845-61.327zm11.612-7.29C41.216 27.439 47.656 21 55.57 21c7.914 0 14.353 6.439 14.353 14.353v4.368H41.216v-4.368zm42.352 33.022h-8.275v-.298c0-3.986 3.243-7.23 7.23-7.23.152 0 .301.015.452.024l.593 7.504zm6.184-.298v.298h-4.178l-.559-7.075c2.76 1.019 4.737 3.668 4.737 6.777zm26.062 35.893h-11.768l-3.175-32.883a2.989 2.989 0 0 0-2.986-2.712h-6.133v-.298c0-4.285-2.94-7.887-6.906-8.921l-1.317-16.67a3.016 3.016 0 0 0-2.99-2.765h-8.617v-4.368C71.922 26.336 64.586 19 55.57 19c-9.017 0-16.353 7.336-16.353 16.353v4.368h-8.615a3.016 3.016 0 0 0-2.99 2.764l-4.859 61.485H11a1 1 0 1 0 0 2h104.814a1 1 0 1 0 0-2z" fill="#09E"/><path fill="#9DD8FF" d="M91.418 97.913h-17.79v-9.452h17.79z"/></g></svg>
    </span>

    <h3>MarketPlace  </h3>
    <p>Use oAuth and you will provide any payment solution.</p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/web-checkout/introduction"%>">
        Web Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/api/introduction"%>">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>

  <div class="card card-highlight grid__item">
    <%= highlight_icon_tag("point") %>
    <h3>inStore Payments   </h3>
    <p>Use Mercado Pago in Physical Stores </p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/instore-payments/mp-point/create-point"%>">
        Mercado Pago Point
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/instore-payments/qr-payments/introduction"%>">
        Payments from QR Codes
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>

</div>

------------

----[mcl, mpe]----

<div class="grid grid--33">
  <div class="card card-highlight grid__item">

    <span class="card-highlight-icon">
      <svg id="tc-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Cobro con Tarjetas</title>
        <g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M18.32 57.471h90.404V46.576H18.32zM36.13 82.777a5.032 5.032 0 1 1-10.064 0 5.032 5.032 0 0 1 10.064 0"/>
          <path d="M43.18 82.777a5.032 5.032 0 1 1-10.065 0 5.032 5.032 0 0 1 10.065 0" fill="#9DD8FF"/>
          <path d="M19 42c0-3.86 3.14-7 7-7h74.81c3.86 0 7 3.14 7 7v45.83c0 3.86-3.14 7-7 7H26c-3.86 0-7-3.14-7-7V42zm7 54.83h74.81c4.96 0 9-4.04 9-9V42c0-4.97-4.04-9-9-9H26c-4.96 0-9 4.03-9 9v45.83c0 4.96 4.04 9 9 9z" fill="#09E"/>
        </g>
      </svg>
    </span>

    <h3>Payments</h3>

    <p>Receive credit card payments in minutes.</p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/button/create-button"%>">
        Button
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-checkout/introduction"%>">
        Web Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/mobile-checkout/introduction"%>">
        Mobile Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/api/introduction"%>">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>

  <div class="card card-highlight grid__item">
    <span class="card-highlight-icon">
      <svg width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Subscriptions</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M12.316 46.475h90.404V35.58H12.316zM32.144 66.749a5.015 5.015 0 0 0-3.525 1.446 5.015 5.015 0 0 0-3.525-1.446 5.032 5.032 0 0 0 0 10.063 5.015 5.015 0 0 0 3.525-1.446 5.015 5.015 0 0 0 3.525 1.446 5.031 5.031 0 1 0 0-10.063"/><path d="M70.016 83.933l.002-.103H20c-3.86 0-7-3.14-7-7V31c0-3.859 3.14-7 7-7h74.805c3.86 0 7 3.141 7 7v32.441c.686.312 1.353.656 2 1.032V31c0-4.963-4.038-9-9-9H20c-4.963 0-9 4.037-9 9v45.83c0 4.963 4.037 9 9 9h50.101a22.89 22.89 0 0 1-.085-1.897" fill="#09E"/><path d="M92.516 62.433c-11.855 0-21.5 9.645-21.5 21.5s9.645 21.5 21.5 21.5 21.5-9.645 21.5-21.5-9.645-21.5-21.5-21.5m0 45c-12.958 0-23.5-10.542-23.5-23.5s10.542-23.5 23.5-23.5 23.5 10.542 23.5 23.5-10.542 23.5-23.5 23.5" fill="#9DD8FF"/><path d="M107.236 84.933h-14.72a1 1 0 0 1-1-1V74.74a1 1 0 1 1 2 0v8.193h13.72a1 1 0 1 1 0 2" fill="#09E"/></g></svg>
    </span>
    <h3>Subscriptions</h3>

    <p>Create subscription plans and receive payments as often as you choose.</p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/button/create-subscription"%>">
        Button
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/web-checkout/introduction"%>">
        Web Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/api/introduction"%>">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>



  <div class="card card-highlight grid__item">
    <span class="card-highlight-icon">
      <svg id="card-marketplace-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Tienda online</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M65.05 74.42H35.16l-1.88 23.656h29.486z"/><path d="M63.008 103.97l3.156-32.69a.996.996 0 0 1 .995-.905h6.134v4.386a1 1 0 1 0 2 0v-4.386h14.46v4.386a1 1 0 1 0 2 0v-4.386h6.132c.518 0 .946.389.996.905l3.155 32.69H63.008zM29.604 42.643c.041-.517.48-.922.997-.922h8.615v8.623a1 1 0 1 0 2 0V41.72h28.706v8.623a1 1 0 1 0 2 0V41.72h8.616c.518 0 .956.404.996.922l1.282 16.22c-.099-.003-.195-.015-.294-.015-5.089 0-9.229 4.14-9.229 9.229v.298H67.16a2.989 2.989 0 0 0-2.986 2.713L61 103.97H24.76l4.845-61.327zm11.612-7.29C41.216 27.439 47.656 21 55.57 21c7.914 0 14.353 6.439 14.353 14.353v4.368H41.216v-4.368zm42.352 33.022h-8.275v-.298c0-3.986 3.243-7.23 7.23-7.23.152 0 .301.015.452.024l.593 7.504zm6.184-.298v.298h-4.178l-.559-7.075c2.76 1.019 4.737 3.668 4.737 6.777zm26.062 35.893h-11.768l-3.175-32.883a2.989 2.989 0 0 0-2.986-2.712h-6.133v-.298c0-4.285-2.94-7.887-6.906-8.921l-1.317-16.67a3.016 3.016 0 0 0-2.99-2.765h-8.617v-4.368C71.922 26.336 64.586 19 55.57 19c-9.017 0-16.353 7.336-16.353 16.353v4.368h-8.615a3.016 3.016 0 0 0-2.99 2.764l-4.859 61.485H11a1 1 0 1 0 0 2h104.814a1 1 0 1 0 0-2z" fill="#09E"/><path fill="#9DD8FF" d="M91.418 97.913h-17.79v-9.452h17.79z"/></g></svg>
    </span>

    <h3>MarketPlace  </h3>
    <p>Use oAuth and you will provide any payment solution.</p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/web-checkout/introduction"%>">
        Web Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/api/introduction"%>">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>

</div>

------------

----[mlu]----

<div class="grid grid--33">
  <div class="card card-highlight grid__item">

    <span class="card-highlight-icon">
      <svg id="tc-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Cobro con Tarjetas</title>
        <g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M18.32 57.471h90.404V46.576H18.32zM36.13 82.777a5.032 5.032 0 1 1-10.064 0 5.032 5.032 0 0 1 10.064 0"/>
          <path d="M43.18 82.777a5.032 5.032 0 1 1-10.065 0 5.032 5.032 0 0 1 10.065 0" fill="#9DD8FF"/>
          <path d="M19 42c0-3.86 3.14-7 7-7h74.81c3.86 0 7 3.14 7 7v45.83c0 3.86-3.14 7-7 7H26c-3.86 0-7-3.14-7-7V42zm7 54.83h74.81c4.96 0 9-4.04 9-9V42c0-4.97-4.04-9-9-9H26c-4.96 0-9 4.03-9 9v45.83c0 4.96 4.04 9 9 9z" fill="#09E"/>
        </g>
      </svg>
    </span>

    <h3>Payments</h3>

    <p>Receive credit card payments in minutes.</p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/button/create-button"%>">
        Button
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/web-checkout/introduction"%>">
        Web Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/payments/api/introduction"%>">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>

  <div class="card card-highlight grid__item">
    <span class="card-highlight-icon">
      <svg width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Subscriptions</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M12.316 46.475h90.404V35.58H12.316zM32.144 66.749a5.015 5.015 0 0 0-3.525 1.446 5.015 5.015 0 0 0-3.525-1.446 5.032 5.032 0 0 0 0 10.063 5.015 5.015 0 0 0 3.525-1.446 5.015 5.015 0 0 0 3.525 1.446 5.031 5.031 0 1 0 0-10.063"/><path d="M70.016 83.933l.002-.103H20c-3.86 0-7-3.14-7-7V31c0-3.859 3.14-7 7-7h74.805c3.86 0 7 3.141 7 7v32.441c.686.312 1.353.656 2 1.032V31c0-4.963-4.038-9-9-9H20c-4.963 0-9 4.037-9 9v45.83c0 4.963 4.037 9 9 9h50.101a22.89 22.89 0 0 1-.085-1.897" fill="#09E"/><path d="M92.516 62.433c-11.855 0-21.5 9.645-21.5 21.5s9.645 21.5 21.5 21.5 21.5-9.645 21.5-21.5-9.645-21.5-21.5-21.5m0 45c-12.958 0-23.5-10.542-23.5-23.5s10.542-23.5 23.5-23.5 23.5 10.542 23.5 23.5-10.542 23.5-23.5 23.5" fill="#9DD8FF"/><path d="M107.236 84.933h-14.72a1 1 0 0 1-1-1V74.74a1 1 0 1 1 2 0v8.193h13.72a1 1 0 1 1 0 2" fill="#09E"/></g></svg>
    </span>
    <h3>Subscriptions</h3>

    <p>Create subscription plans and receive payments as often as you choose.</p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/button/create-subscription"%>">
        Button
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/web-checkout/introduction"%>">
        Web Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/subscriptions/api/introduction"%>">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>



  <div class="card card-highlight grid__item">
    <span class="card-highlight-icon">
      <svg id="card-marketplace-icon" width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title>Tienda online</title><g fill="none" fill-rule="evenodd"><path fill="#9DD8FF" d="M65.05 74.42H35.16l-1.88 23.656h29.486z"/><path d="M63.008 103.97l3.156-32.69a.996.996 0 0 1 .995-.905h6.134v4.386a1 1 0 1 0 2 0v-4.386h14.46v4.386a1 1 0 1 0 2 0v-4.386h6.132c.518 0 .946.389.996.905l3.155 32.69H63.008zM29.604 42.643c.041-.517.48-.922.997-.922h8.615v8.623a1 1 0 1 0 2 0V41.72h28.706v8.623a1 1 0 1 0 2 0V41.72h8.616c.518 0 .956.404.996.922l1.282 16.22c-.099-.003-.195-.015-.294-.015-5.089 0-9.229 4.14-9.229 9.229v.298H67.16a2.989 2.989 0 0 0-2.986 2.713L61 103.97H24.76l4.845-61.327zm11.612-7.29C41.216 27.439 47.656 21 55.57 21c7.914 0 14.353 6.439 14.353 14.353v4.368H41.216v-4.368zm42.352 33.022h-8.275v-.298c0-3.986 3.243-7.23 7.23-7.23.152 0 .301.015.452.024l.593 7.504zm6.184-.298v.298h-4.178l-.559-7.075c2.76 1.019 4.737 3.668 4.737 6.777zm26.062 35.893h-11.768l-3.175-32.883a2.989 2.989 0 0 0-2.986-2.712h-6.133v-.298c0-4.285-2.94-7.887-6.906-8.921l-1.317-16.67a3.016 3.016 0 0 0-2.99-2.765h-8.617v-4.368C71.922 26.336 64.586 19 55.57 19c-9.017 0-16.353 7.336-16.353 16.353v4.368h-8.615a3.016 3.016 0 0 0-2.99 2.764l-4.859 61.485H11a1 1 0 1 0 0 2h104.814a1 1 0 1 0 0-2z" fill="#09E"/><path fill="#9DD8FF" d="M91.418 97.913h-17.79v-9.452h17.79z"/></g></svg>
    </span>

    <h3>MarketPlace  </h3>
    <p>Use oAuth and you will provide any payment solution.</p>

    <nav class="card-actions">
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/web-checkout/introduction"%>">
        Web Checkout
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
      <a class="arrow-link" href="<%="#{locals[:settings]['deploy_path']}/#{locals[:lang]}/guides/marketplace/api/introduction"%>">
        API
        <svg class="arrow-link__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
        </svg>
      </a>
    </nav>
  </div>

</div>

------------

<h2> Are not you a Developer? </h2>

<div class="grid grid--50">

  <div class="card card-highlight grid__item">
    <span class="card-highlight-icon">
       <svg width="113" height="83" viewBox="0 0 113 83" xmlns="http://www.w3.org/2000/svg"><title>Group 2</title><g fill="none" fill-rule="evenodd"><g fill="#009EE3"><path d="M97.201 8.997v4.48H1.004v-4.48a8 8 0 0 1 8-8h80.197a8 8 0 0 1 8 8z" fill-opacity=".4"/><path d="M96.2 72.24c0 1.32-.76 2.44-1.67 2.44H3.68c-.91 0-1.68-1.12-1.68-2.44V9c0-3.86 3.14-7 7-7h80.2c3.86 0 7 3.14 7 7v63.24zM89.2 0H9C4.04 0 0 4.03 0 9v63.24c0 2.45 1.65 4.44 3.68 4.44h90.85c2.02 0 3.67-1.99 3.67-4.44V9c0-4.97-4.04-9-9-9z"/><path d="M27.056 6.696H9.16a1 1 0 1 0 0 2h17.896a1 1 0 1 0 0-2"/></g><path fill="#FFF" d="M49 21h62v62H49z"/><path fill="#5BC0ED" d="M76 34h22v22H76zM61 61h22v22H61zM91 61h22v22H91z"/></g></svg>
    </span>
    <h3>Modules</h3>
    <p>We have modules for the main platforms of e-commerce.</p>
  </div>

  <div class="card card-highlight grid__item">
    <span class="card-highlight-icon">
       <svg width="110" height="81" viewBox="0 0 110 81" xmlns="http://www.w3.org/2000/svg"><title>Group 26</title><g fill="#009EE3" fill-rule="evenodd"><path d="M82 24a27.192 27.192 0 0 0-6.298-13.475 27.577 27.577 0 0 0-6.216-5.353A27.369 27.369 0 0 0 54.946 1C41.528 1 30.382 10.634 28 23.37c2.903.41 5.888.63 8.9.63 11.938 0 23.112-3.32 32.586-9.112V24H82z" fill-opacity=".4"/><path d="M54.5 2.301c-14.447 0-26.199 11.752-26.199 26.198 0 14.447 11.752 26.2 26.199 26.2 14.447 0 26.199-11.753 26.199-26.2C80.699 14.053 68.947 2.3 54.5 2.3M54.5 57C38.785 57 26 44.215 26 28.499 26 12.784 38.785 0 54.5 0 70.216 0 83 12.784 83 28.499 83 44.215 70.216 57 54.5 57M30.405 66.295H79.6c7.306 0 13.414 5.368 14.388 12.41H16.015c.971-7.05 7.066-12.41 14.39-12.41m65.915 12.41C95.329 70.385 88.18 64 79.6 64H30.405c-8.6 0-15.731 6.377-16.72 14.705H1.16c-.64 0-1.16.513-1.16 1.147S.52 81 1.16 81h107.68c.64 0 1.16-.514 1.16-1.148 0-.634-.52-1.147-1.16-1.147H96.32z"/></g></svg>
    </span>
    <h3>Partners</h3>
    <p><a href="https://partners.mercadopago.com/">Mercado Pago Partners Program</a> recommends through this program their strategic partners as implementers of our payments platform.</p>
  </div>

</div>
<h2> Community </h2>

<div class="grid grid--50">
  <div class="card card-highlight grid__item">
    <h3>Workshops and events</h3>
    <p>Soon, News about events and workshops for developers. </p>
  </div>
  <div class="card card-highlight grid__item">
    <h3>Support</h3>
    ----[mla,mlu,mlm,mcl,mco,mlv,mpe]----
      <p> <b> Writing us: </b>  <a href="mailto:developers@mercadopago.com">developers@mercadopago.com</a></p>
    ------------
    ----[mlb]----
      <p> <b> Writing us: </b>  <a href="mailto:developers@mercadopago.com.br">developers@mercadopago.com.br</a></p>
    ------------
      <p> <b> Community </b> <a href="https://groups.google.com/forum/#!forum/mercadopago-developers">Visit our Google Group.</a></p>
      <p> <b> Suggestions and Ideas: </b> <a href="https://github.com/mercadopago">We Accept Pull Requests.</a></p>
    </ul>
  </div>
</div>
